.top-to-btm {
    position: relative;
}

.icon-position {
    position: fixed;
    bottom: 40px;
    right: 25px;
    z-index: 20;
}

.icon-style {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    cursor: pointer;
    transition: all .5s ease-in-out;
}

.icon-style:hover {
    background-color: var(--hover);
}